div, .container{
    height: 300px;
    width: 300px;
    background-color: lightgray;
}

div {
    height: 25%;
    width: 25%;
    background-color: bisque;
    border: solid black;
    box-sizing: border-box;
}

.inner:hover {
    background-color: black;
}

.container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
}